<p id="notice"><%= notice %></p>

<h1>Listing Art Pieces</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Genre</th>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @art_pieces.each do |art_piece| %>
      <tr>
        <td><%= art_piece.name %></td>
        <td><%= art_piece.genre %></td>
        <td><%= art_piece.link %></td>
        <td><%= link_to 'Show', art_piece %></td>
        <td><%= link_to 'Edit', edit_art_piece_path(art_piece) %></td>
        <td><%= link_to 'Destroy', art_piece, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Art piece', new_art_piece_path %>
