- content_for :top do
  = render 'partials/navigation'

%main.l-container
  %section.match
    %h2.match__title= 'Tu znajdziesz sztukę w Twoim typie!'

    .venue
      %h3.venue__title
        = @location.name
      = image_tag @location.photo, class: 'venue__photo'
      .venue__description
        = @location.description
      .venue__address
        = @location.address

    - unless @users.empty?
      %h3= 'Przyjdz w sobotę o 12:00 i spotkaj się z innymi użytkownikami o podobnym guście:'
      %ul
      - @users.each do |user|
        %li= user.username
