- content_for :top do
  = render 'partials/navigation'

%main.l-container
  %section.match
    %h2.match__title= 'Znaleźliśmy użytkowników o podobnym guście!'
    - @users.each do |user|
      .match__user= user.username
      %p= 'Możecie się poznać idąc do:'
      = @location
